<h1> Fornecedor <%= @supplier.brand_name%></h1>
<h2> <%= @supplier.corporate_name%>
</h2>

<dl> 
  <dt> Documento:</dt>
    <dd> <%= @supplier.registration_number%>  </dd>
  <dt>Endereço:</dt>
    <dd><%= @supplier.full_address%>  </dd>
  <dt> Email:</dt>
  <dd><%=@supplier.email %>  </dd>

</dl>
<dl>
    <dt>Modelos de Produto </dt>
 
  <% @product_model.each do |p|%> 
    <div>
      <dt>Produto: </dt>
        <dd><%= p.name%></dd>
      <dt> SKU: </dt>
        <dd><%= p.sku%></dd>
      <dt><%= link_to 'Visualizar', p %></dt>
    </div>
  <%end%>
 
</dl>


<%= link_to "Editar", edit_supplier_path(@supplier.id) %>

<div>
  <%= link_to  'Voltar', suppliers_path %>
</div>
<div>
  <%= button_to('Remover', supplier_path(@supplier.id), method: :delete)  %>
</div>

