<h1> Fornecedor <%= @supplier.brand_name%></h1>
<h2> <%= @supplier.corporate_name%> </h2>

<dl> 
  <dt> Documento:</dt>
  <dd> <%= @supplier.registration_number%>  </dd>
  <dt>Endereço:</dt>
  <dd><%= @supplier.full_address%>  </dd>
  <dt> Email:</dt>
  <dd><%=@supplier.email %>  </dd>

</dl>
<ul>
    <%= link_to "Editar", edit_supplier_path(@supplier.id), class: 'button' %>
    <%= link_to  'Voltar', suppliers_path, class: 'button' %>
    <%= button_to('Remover', supplier_path(@supplier.id), method: :delete, class: 'button')  %> 
</ul>
<h3>Produtos deste Fornecedor </h3>
<dl>
   
  <% @product_models.each do |p|%> 
    <ul>
        <li>
          <dt><strong>Produto: <%= p.name%></strong></dt>
          <dt><strong> SKU: </strong><%= p.sku%></dt>
          <dt><%= link_to 'Visualizar', p,  class: 'button' %></dt>
        </li>
      </ul>
  <%end%>
  
</dl>


