<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js" integrity="sha512-jTgBq4+dMYh73dquskmUFEgMY5mptcbqSw2rmhOZZSJjZbD2wMt0H5nhqWtleVkyBEjmzid5nyERPSNBafG4GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <header>
      <%= link_to root_url do %>
        <h1> Galpões & Estoque </h1>
      <%end%>
      <nav>
        <%= link_to 'Fornecedores', suppliers_url %> |
        <%= link_to 'Modelos de Produtos', product_models_url %> |
        <%= link_to 'Registrar Pedido', new_order_url %> |
       
        <%if user_signed_in?%>
          <%= form_with(url: search_orders_path, method: :get) do |f|%>
            <%= f.label :query, 'Buscar Pedido'%>
            <%= f.text_field :query%>
            <%= f.submit 'Buscar' %> 
          <%end%>
          <%= current_user.description %> |
          <%= button_to 'Sair', destroy_user_session_url, method: :delete%>
        <%else%>
          <%= link_to "Entrar", new_user_session_url %> |
        <%end%>

      </nav>
    </header>
    <main>  
      <div> 
        <%= alert%>
        <%= notice %>
      </div>
      <%= yield %>
    </main>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#warehouse_cep').inputmask("99999-999"); 
        $('#supplier_registration_number').inputmask("99.999.999/9999-99"); 
      });
    </script>
  </body>
</html>
